# Editor
.vscode
.idea

# Android
build
.gradle
local.properties
*.iml
*.hprof

# Release settings
android/gradle.properties
android/app/build.gradle
*.jks

# Build
node_modules
yarn-error.log
yarn.lock

# Buck
buck-out
\.buckd
*.keystore
!debug.keystore

# Bundle artifacts
*.jsbundle

# Expo
.expo
.expo-shared
web-build
