# Editor
.vscode

# Android / IntelliJ
build
.idea
.gradle
local.properties
*.iml
*.hprof

# Release setting
android/gradle.properties
android/app/build.gradle
*.jks

# Expo
.expo
.expo-shared

# Node

#Build
node_modules
yarn-error.log
yarn.lock

# Buck
buck-out
\.buckd
*.keystore
!debug.keystore

# Bundle artifacts
*.jsbundle

# Expo
.expo
web-build