# Editor
.vscode

# Environment
.env

# Android
build
.gradle
local.properties
*.iml
*.hprof

# Settings
android/gradle.properties
android/app/build.gradle
*.jks

# Dependency
node_modules

# Yarn
yarn.lock

# Buck
buck-out
\.buckd
*.keystore
!debug.keystore

# Bundle
*.jsbundle

# Expo
.expo
.expo-shared
web-build
